.btn-neutral, .btn-positive {
  cursor: pointer;
  outline: 0;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  padding: 16px 0;
  display: block;
  width: 100%;
  background: #7477BF;
}

@media (min-width: 1024px) {
  .message,
.settings, .new-members,
.recent-activity, .daily-traffic,
.mobile-users {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}

.settings__field, .message__area, .message__field, .header__search {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  font-size: 14px;
  outline: 0;
  border: none;
  border: 1px solid #dadada;
  border-radius: 5px;
  color: #818181;
  background: #FBFBFB;
  padding: 10.5px 18px;
  display: block;
}

.settings__field {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../../icons/icon-angle-down.svg") no-repeat right #FBFBFB;
}

.toggle-switch {
  cursor: pointer;
  display: inline-block;
  border-radius: 16px;
  position: relative;
  display: inline-block;
  width: 90px;
  height: 32px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #CFCFD0;
  background: #B2B2B2;
  transition: background 0.4s ease-out;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
  color: #fff;
}
.toggle-switch:after {
  content: "off";
  position: relative;
  top: 6.2px;
  left: 50px;
}
.toggle-switch:before {
  display: block;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #CFCFD0;
  top: 2px;
  left: 3.5px;
  transition: left 0.25s;
}
.toggle-checkbox:checked + .toggle-switch {
  background: #7477BF;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 57.5px;
}
.toggle-checkbox:checked + .toggle-switch:after {
  content: "on";
  left: 9.5px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #727171;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

@media (min-width: 1024px) {
  main {
    padding-bottom: 30px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

:focus {
  outline: 0;
}

.app-header {
  text-align: center;
  background: #7477BF;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em 1.5em;
}
@media (min-width: 680px) {
  .app-header {
    flex-wrap: nowrap;
    padding-top: 0;
    padding-bottom: 0;
    height: 70px;
  }
}
.app-header__name {
  flex: 0 100%;
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 0;
}
@media (min-width: 680px) {
  .app-header__name {
    flex-basis: auto;
    margin: 0 auto 0 0;
  }
}
.app-header__icon-container {
  border-right: 1.5px solid #6366BF;
  padding: 10px 24px 10px 0;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.notifications {
  background: #FBFBFB;
  color: #727171;
  display: none;
  width: 315px;
  font-size: 13px;
  border: 1px solid #dadada;
  border-radius: 5px;
  position: absolute;
  top: 55px;
  right: -210px;
  z-index: 1;
}
@media (min-width: 480px) {
  .notifications {
    width: 350px;
  }
}
@media (min-width: 680px) {
  .notifications {
    right: -120px;
  }
}
.notifications .notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px 5px 6px;
  border-bottom: 1px solid #dadada;
  height: 42px;
}
.notifications .notification:nth-child(odd) {
  background: #eaeaea;
}
.notifications .notification span {
  margin-left: 5px;
}
.notifications .notification img + span {
  margin-left: 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  min-height: 15px;
}
@media (min-width: 480px) {
  .notifications .notification img + span {
    width: 100%;
  }
}
.notifications .notification img + span + span {
  margin-left: auto;
}

.app-nav {
  background-color: #4D4C72;
  padding: 35px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .app-nav > div {
    position: fixed;
    width: 90px;
  }
}
.app-nav__link {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-right: 40px;
  position: relative;
}
@media (min-width: 768px) {
  .app-nav__link {
    display: block;
    margin-right: 0;
    margin-bottom: 50px;
  }
}
.app-nav__link:nth-child(3) {
  position: relative;
  left: 3px;
}
.app-nav__link:nth-child(3)::before {
  left: -10px;
}
@media (min-width: 768px) {
  .app-nav__link:nth-child(3)::before {
    left: -16px;
  }
}
.app-nav__link:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .app-nav__link:last-child {
    margin-bottom: 0;
  }
}
.app-nav__link::before {
  transition: opacity 0.5s;
  content: "";
  position: absolute;
  top: -16px;
  left: -5px;
  opacity: 0;
  display: block;
  width: 40px;
  height: 60px;
  border: 3px solid transparent;
}
@media (min-width: 768px) {
  .app-nav__link::before {
    left: -13px;
    width: 10px;
  }
}
.app-nav__link--selected::before {
  border-bottom-color: #85DB80;
  opacity: 1;
}
@media (min-width: 768px) {
  .app-nav__link--selected::before {
    border-radius: 100px;
    border-right-color: #85DB80;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "app-header" "app-nav" "main";
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 90px 1fr;
    grid-template-areas: "app-header app-header" "app-nav main" "app-nav main";
  }
}

.app-header {
  grid-area: app-header;
}

.app-nav {
  grid-area: app-nav;
}

main {
  grid-area: main;
}

#trafficChart {
  display: block;
  max-width: 100%;
  margin-top: 24px;
}
@media (min-width: 480px) {
  #trafficChart {
    margin-top: 10px;
  }
}

#dailyTrafficChart,
#devicesChart {
  display: block;
  max-width: 100%;
  margin-top: 20px;
}

.app-header__icon {
  cursor: pointer;
  width: 21px;
  transition: transform 0.5s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.app-header__icon:hover {
  transform: rotate(30deg);
}

.notification-light {
  position: absolute;
  top: 7px;
  right: 20px;
  background: #85DB80;
  color: #85DB80;
  width: 7px;
  height: 7px;
  border-radius: 100px;
  visibility: hidden;
}

.app-nav__icon {
  width: 35px;
  height: 35px;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.app-nav__icon:hover, .app-nav__link--selected .app-nav__icon {
  opacity: 1;
}

.close-icon {
  width: 10px;
  cursor: pointer;
  margin-top: 1px;
  margin-left: auto;
}

.alert__icon {
  width: 10px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
@media (min-width: 1150px) {
  .alert__icon {
    top: 14px;
    right: 14px;
  }
}

#Layer_1 {
  border: 10px solid #7477BF;
  border-radius: 100px;
  background: #7477BF;
  width: 70px;
  height: 70px;
}
#Layer_1 path {
  fill: #fff;
}

.activity__toggle {
  cursor: pointer;
  width: 15px;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.profile-photo {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.feed {
  width: 38px;
  height: 38px;
}

@media (min-width: 680px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.header__headline {
  flex: 0 152px;
  text-align: center;
}
.header__search-container {
  background-color: #FBFBFB;
  flex: 1 75%;
  padding: 14px 0;
  position: relative;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}
@media (min-width: 680px) {
  .header__search-container {
    padding-right: 1.5em;
    border-top: none;
    border-left: 1px solid #dadada;
  }
}

.container {
  padding: 0 0.6em;
}
@media (min-width: 680px) {
  .container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.traffic {
  margin-top: 25px;
  margin-bottom: 30px;
}
@media (min-width: 480px) {
  .traffic__header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 480px) {
  .traffic__header .sub-headline {
    margin-right: auto;
  }
}
.traffic__nav {
  text-align: center;
}

.daily-traffic {
  border-top: 1px solid #dadada;
}
@media (min-width: 1024px) {
  .daily-traffic {
    border-top: none;
    border-right: 1px solid #dadada;
    margin-right: -5px;
  }
}

.daily-traffic,
.mobile-users {
  padding-bottom: 30px;
  border-bottom: 1px solid #dadada;
}
@media (min-width: 1024px) {
  .daily-traffic,
.mobile-users {
    border-top: 1px solid #dadada;
    padding-bottom: 30px;
  }
}

.social {
  padding: 12px 0 0;
  margin-bottom: 50px;
}
.social__container {
  cursor: pointer;
  background-color: #FBFBFB;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5em;
  margin: 18px 0 0;
  flex: 0 100%;
  transition: background 0.4s;
}
@media (min-width: 992px) {
  .social__container {
    flex-basis: calc(33.3333% - 20px);
  }
}
@media (min-width: 1150px) {
  .social__container {
    margin: 0;
    flex-basis: 329px;
  }
}
.social__container:hover {
  background: #7477BF;
  color: #fff;
}
.social__container:hover .social__media {
  color: #fff;
}
.social__container:hover #Layer_1 {
  border-color: #fff;
  background: #fff;
}
.social__container:hover #Layer_1 path {
  fill: #7477BF;
}
.social__image {
  margin-right: auto;
}
@media (min-width: 1024px) {
  .social__image {
    margin-right: 20px;
  }
}

@media (min-width: 992px) {
  .flex {
    padding: 0 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 0 30px;
}

@media (min-width: 1024px) {
  .new-members {
    border-right: 1px solid #dadada;
    margin-right: -5px;
  }
}

.new-members,
.recent-activity {
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;
}
@media (min-width: 1024px) {
  .new-members,
.recent-activity {
    border-top: 1px solid #dadada;
    padding-bottom: 30px;
  }
}

.activity {
  border-top: 1px solid #dadada;
  padding-top: 1em;
}
@media (min-width: 1024px) {
  .activity {
    border-top: none;
    border-right: 1px solid #dadada;
    margin-right: -5px;
  }
}
.activity__container {
  padding: 20px 0 16px;
  border-bottom: 1px solid #dadada;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 1024px) {
  .activity__container {
    padding-top: 5px;
  }
}
.activity__container:last-child {
  border: none;
}
.activity__container--nowrap {
  flex-wrap: nowrap;
}
@media (min-width: 480px) {
  .activity__content {
    flex: 0 75%;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .activity__content {
    flex-basis: auto;
  }
}

.message {
  padding: 12px 0 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dadada;
}
@media (min-width: 1024px) {
  .message {
    margin-right: -5px;
    border-right: 1px solid #dadada;
    border-bottom: none;
  }
  .message .btn {
    width: 100%;
  }
}

.settings {
  padding: 12px 0 0;
}

@media (min-width: 1024px) {
  .message,
.settings {
    padding-bottom: 40px;
  }
}

.wrapper {
  padding: 0 5px;
}

.bold {
  font-weight: 700;
}

.app-header__user {
  font-size: 14px;
}

.header__headline {
  font-size: 1.25em;
  font-weight: 600;
}

.alert {
  background: #7377BF;
  color: #fff;
  display: none;
  padding: 12px 18px;
  border-radius: 5px;
  margin-top: 25px;
  position: relative;
}
.alert__title {
  font-size: 14px;
  font-weight: 700;
}
.alert__message {
  font-size: 13px;
  margin-top: 5px;
}
@media (min-width: 1150px) {
  .alert__message {
    display: inline-block;
    margin: 0 0 0 5px;
  }
}

.sub-headline {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 5px;
}

.traffic__link {
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  margin-right: 3px;
  padding: 6px 12px;
  color: #939393;
  cursor: pointer;
}
@media (min-width: 480px) {
  .traffic__link {
    margin-right: 0;
    margin-left: 12px;
  }
}
.traffic__link--active {
  background: #81C98F;
  color: #fff;
  border-radius: 100px;
}

.social__media {
  color: #7377BF;
  font-size: 1em;
  font-weight: 700;
  text-align: right;
}
@media (min-width: 1024px) {
  .social__media {
    font-size: 1.2em;
    text-align: left;
  }
}
.social__count {
  font-size: 2em;
  font-weight: 300;
  text-align: right;
}
@media (min-width: 1024px) {
  .social__count {
    font-size: 2.8em;
  }
}

.activity__desc {
  font-size: 13.5px;
  overflow: hidden;
}
@media (min-width: 680px) {
  .activity__desc {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
  }
}
@media (min-width: 992px) {
  .activity__desc {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .activity__desc {
    width: 90%;
  }
}
@media (min-width: 1150px) {
  .activity__desc {
    width: 100%;
  }
}
.activity__desc--name {
  font-size: 13px;
  font-weight: 600;
}
.activity__email {
  color: #7477BF;
  font-size: 13px;
}
.activity__join-date {
  font-size: 13px;
  text-align: right;
  margin-top: 5px;
  flex: 0 100%;
}
@media (min-width: 480px) {
  .activity__join-date {
    margin-top: 0;
    flex-basis: auto;
  }
}
.activity__post {
  font-family: "Muli", sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.activity__date {
  font-family: "Muli", sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.autocomplete-items {
  font-size: 14px;
}
.autocomplete-items div:hover {
  color: #fff;
}
.autocomplete-items div:hover strong {
  color: #fff;
}
.autocomplete-items strong {
  color: #7477BF;
}

.toggle-label {
  font-size: 13.5px;
  font-weight: 600;
}

.btn-neutral {
  background: #B2B2B2;
}

.btn-neutral {
  margin: 17px 0;
}

@media (min-width: 1024px) {
  .settings .btn-positive {
    margin-right: 25px;
  }
}

.settings .btn-neutral {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .settings .btn-positive,
.settings .btn-neutral {
    margin-top: 5px;
    display: inline-block;
    width: calc(50% - 15px);
  }
}

.header__search {
  margin: auto;
  position: relative;
  line-height: 0;
  background: url("../icons/icon-search.svg") no-repeat 97% 50%/18px 18px;
  width: 80%;
  max-width: 380px;
}
@media (min-width: 680px) {
  .header__search {
    margin: 0 0 0 auto;
  }
}

::placeholder {
  color: #c1c1c1;
}

.message__form {
  margin-top: 20px;
  padding: 0 5px;
  position: relative;
}
.message__field {
  line-height: 0;
  margin-bottom: 17px;
}
@media not all and (min-resolution: 0.001dpcm) {
  .message__field {
    line-height: inherit;
  }
}
.message__area {
  margin-bottom: 17px;
}
.message__match {
  position: absolute;
  top: 42px;
  background: #000;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  width: 100%;
}

.autocomplete {
  position: relative;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px 18px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:nth-child(odd) {
  background: #eaeaea;
}
.autocomplete-items div:hover {
  background-color: #7477BF;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle-label {
  margin-right: auto;
}
@media (min-width: 768px) {
  .toggle-label {
    flex: 0 195px;
    margin-right: 0;
  }
}

.settings__field {
  margin: 35px 0 17px;
  height: 45px;
}

/*# sourceMappingURL=app.css.map */
