// Buttons Placeholder
%btn {
  cursor: pointer;
  outline: 0;
  border: none;
  @include font($size: 14px, $weight: $font-weight-bold) {
    text-transform: uppercase;
    text-align: center;
  }
  border-radius: $border-sm;
  color: $white;
  padding: 16px 0;
  display: block;
  width: 100%;
  background: $color-button-primary;
}

// Layout Placeholder
%col {
  @include mq('tablet-wide') {
    @include col(2);
  }
}

// Form Placeholder
%form-field {
  width: 100%;
  font-size: 14px;
  outline: 0;
  border: none;
  @include border();
  border-radius: $border-sm;
  color: $grey;
  background: $silver;
  padding: 10.5px 18px;
  display: block;
}

%select-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../../icons/icon-angle-down.svg') no-repeat right $silver;
}

// Toggle Buttons Placeholder
%toggle {
  cursor: pointer;
  display: inline-block;
  border-radius: 16px;
	position: relative;
  display: inline-block;
  width: 90px;
  height: 32px;
  vertical-align: middle;
  @include font($size: 14px, $weight: $font-weight-bold) {
    text-transform: uppercase;
  }
  border: 2px solid #CFCFD0;
  background: $color-button-neutral;
  transition: background .4s ease-out;
  &:before,
	&:after {
    content: "";
    color: $white;
	}
	&:after{
    content: "off";
    position: relative;
    top: 6.2px;
    left: 50px;
	}
	&:before {
		display: block;
		background: $white;
		border-radius: 50%;
		position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #CFCFD0;
    top: 2px;
    left: 3.5px;
    transition: left 0.25s; 
	}
	.toggle-checkbox:checked + & {
		background: $color-button-primary;
		&:before {
			left: 57.5px;
		}
		&:after{
      content: "on";
      left: 9.5px;
		}
	}
}