// Layout Mixins
@mixin grid(
  $disp: grid,
  $cols: 1fr,
  $rows: null
) {
  display: $disp;
  grid-template-columns: $cols;
  grid-template-rows: $rows;
  @content;
}

@mixin flex(
  $disp: flex,
  $dir: row,
  $wrap: null,
  $align: center
) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  align-items: $align;
  @content;
}

@mixin col($items) {
  display: inline-block;
  vertical-align: top;
  width: calc-pc($items);
  @content;
}

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media (#{$type}-width: $width) {
      @content;
    }
  }
}

// Style Mixins
@mixin border($dir...) {
  @if length($dir) == 0 {
    border: 1px solid $color-border;
  } @else {
      @for $i from 1 through length($dir) {
      border-#{nth($dir, $i)}: 1px solid $color-border;
    }
  }
}

@mixin font(
  $family: null,
  $size: 13px,
  $weight: null
) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  @content;
}

@mixin element(
  $background: null,
  $color: null,
  $disp: null,
  $width: null,
  $height: null
) {
  background: $background;
  color: $color;
  display: $disp;
  width: $width;
  height: $height;
  @content;
}