// Colors
$white               : #fff;
$black               : #000;

// Defined Colors
$grey                : #818181;
$silver              : #FBFBFB;

$color-primary       : #7477BF;
$color-secondary     : #4D4C72;
$color-tertiary      : #7377BF;

$color-text           : #727171;
$color-link           : #939393;
$color-link-selected  : #81C98F;

$color-border         : lighten($grey, 35%);

$color-button-primary : $color-primary;
$color-button-neutral : #B2B2B2;

// Border Styles
$border-sm              : 5px;
$border-round           : 100px;

// Layout
$breakpoints: (
  'phone'         : 480px,
  'tablet-small'  : 680px,
  'tablet'        : 768px,
  'tablet-medium' : 992px,
  'tablet-wide'   : 1024px,
  'desktop'       : 1150px
);



