// Colors
$white               : #fff;
$black               : #000;
$grey                : #818181;
$silver              : silver;

$color-primary       : #7477BF;
$color-secondary     : #4D4C72;

$color-text       : #727171;
$color-link-selected : #41a041;



$border-sm              : 5px;
$border-round           : 100px;



