.header {
  @include mq(680px) {
    @include flex();
  }
  &__headline {
    flex: 0 152px;
    text-align: center;
  }
  &__search-container {
    background-color: $silver;
    flex: 1 75%;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    padding: 14px 0;
    position: relative;
    @include mq(680px) {
      padding-right: 1.5em;
      border-top: none;
      border-left: 1px solid $color-border;
    }
  }
}

.container {
  padding: 0 1.5em;
}

.traffic {
  margin-bottom: 30px;
  &__header {
    @include mq(480px) {
      @include flex();
    }
    .sub-headline {
      @include mq(480px) {
        margin-right: auto;
      }
    }
  }
}

.daily-traffic {
  border-top: 1px solid $color-border;
  @include mq(1024px) {
    border-top: none;
    border-right: 1px solid $color-border;
    margin-right: -5px;
  }
}

.daily-traffic,
.mobile-users {
  padding-bottom: 30px;
  border-bottom: 1px solid $color-border;
  @include mq(1024px) {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    padding-bottom: 30px;
  }
}

.social {
  padding: 12px 0 0;
  margin-bottom: 50px;
  &__container {
    background-color: $silver;
    border: 1px solid $color-border;
    border-radius: $border-sm;
    margin-bottom: 30px;
    @include flex();
    padding: 1.5em;
    margin: 18px 0 0;
    flex: 0 100%;
    @include mq(992px) {
      flex-basis: calc(33.3333% - 20px);
    }
    @include mq(1150px) {
      margin: 0;
      flex-basis: 329px;
    }
  }
  &__image {
    margin-right: auto;
    @include mq(1024px) {
      margin-right: 20px;
    }
  }
}

.flex {
  @include mq(992px) {
    padding: 0 5px;
    margin-top: 20px;
    @include flex($wrap: wrap) {
      justify-content: space-between;
    }
  }
}

.flex-row {
  @include flex();
  margin: 25px 0 30px;
}

.new-members {
  @include mq(1024px) {
    border-right: 1px solid $color-border;
    margin-right: -5px;
  }
}

.new-members,
.recent-activity {
  padding-bottom: 20px;
  border-bottom: 1px solid $color-border;
  @include mq(1024px) {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    padding-bottom: 30px;
  }
}

.activity {
  border-top: 1px solid $color-border;
  padding-top: 1em;
  @include mq(1024px) {
    border-top: none;
    border-right: 1px solid $color-border;
    margin-right: -5px;
  }
  &__container {
    padding: 20px 0 16px;
    border-bottom: 1px solid $color-border;
    @include flex($wrap: wrap);
    @include mq(1024px) {
      padding-top: 5px;
    }
    &:last-child {
      border: none;
    }
    &--nowrap {
      flex-wrap: nowrap;
    }
    .inner-container {
      @include mq(480px) {
        flex: 0 75%;
        margin-right: auto;
      }
      @include mq(768px) {
        flex-basis: auto;
      }
    }
  }
}

.message {
  padding: 12px 0 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid $color-border;
  @include mq(1024px) {
    margin-right: -5px;
    border-bottom: none;
    .btn {
      width: 100%;
    }
  }
}

.settings {
  padding: 12px 0 0;
}

.message,
.settings {
  @include mq(1024px) {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}