// Search input
.header__search {
  @extend %form-field;
  margin: auto;
  width: 80%;
  max-width: 380px;
  position: relative;
  line-height: 0;
  background: url('../../icons/icon-search.svg') no-repeat 97% 50% / 18px 18px;
  @include mq('tablet-small') {
    margin: 0 0 0 auto;
  }
}

// Form field placeholder texts
::placeholder {
  color: darken($color-border, 10%);
}

// Messaging Form
.message {
  &__form {
    margin-top: 20px;
    padding: 0 5px;
  }
  &__field {
    @extend %form-field;
    line-height: 0;
    margin-bottom: 17px;
  }
  &__area {
    @extend %form-field;
    margin-bottom: 17px;
  }
}

// Setting switches
.toggle {
  &-switch {
    @extend %toggle;
  }
  &-checkbox {
    position: absolute;
	  visibility: hidden;
  }
  &-label {
    margin-right: auto;
    @include mq('tablet') {
      flex: 0 195px; 
      margin-right: 0;
    }
  }
}

// Timezone Select
.settings__field {
  @extend %form-field;
  margin: 35px 0 17px;
  height: 45px;
  text-indent: 10px;
}