// Search input
.header__search {
  font-size: 14px;
  outline: 0;
  border: none;
  border: 1px solid $color-border;
  border-radius: $border-sm;
  color: $grey;
  padding: 12px 18px;
  margin: auto;
  width: 380px;
  display: block;
  @include mq(768px) {
    margin: 0 0 0 auto;
  }
}

::placeholder {
  color: darken($color-border, 10%);
}