.app-header__icon {
  width: 21px;
}

.header__search-icon {
  content: '';
  display: block;
  background: url('../../icons/icon-search.svg') no-repeat center / cover;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25px;
  right: 82px;
  cursor: pointer;
  @include mq(768px) {
    right: 40px;
  }
}

.alert::after {
  content: '';
  display: block;
  background: url('../../icons/icon-close.svg') no-repeat center / cover;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  @include mq(1150px) {
    top: 16px;
    right: 14px;
  }
}

#Layer_1 {
  border: 10px solid $color-primary;
  border-radius: $border-round;
  background: $color-primary;
  width: 70px;
  height: 70px;
  path {
    fill: $white;
  }
}

.activity__toggle {
  cursor: pointer;
  width: 15px;
}