.app-header__icon {
  width: 21px;
}

.app-nav__icon {
  width: 35px;
  height: 35px;
  opacity: .5;
}

.alert::after {
  content: '';
  display: block;
  background: url('../../icons/icon-close.svg') no-repeat center / cover;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  @include mq('desktop') {
    top: 16px;
    right: 14px;
  }
}

#Layer_1 {
  border: 10px solid $color-primary;
  border-radius: $border-round;
  background: $color-primary;
  width: 70px;
  height: 70px;
  path {
    fill: $white;
  }
}

.activity__toggle {
  cursor: pointer;
  width: 15px;
}