.app-nav {
  background-color: $color-secondary;
  padding: 35px 0;
  &__link {
    cursor: pointer;
    display: block;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    &:nth-child(3) {
      position: relative;
      left: 3px;
      &::before {
        left: -16px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      transition: opacity .5s;
      content: '';
      position: absolute;
      top: -16px;
      left: -13px;
      opacity: 0;
      @include element($disp: block, $width: 10px, $height: 60px) {
        border: 3px solid transparent;
      }
    }
    &--selected::before {
      border-radius: $border-round;
      border-right-color: $color-nav-link-selected;
      opacity: 1;
    }
  }
}