.app-nav {
  background-color: $color-secondary;
  padding: 35px 0;
  &__link {
    cursor: pointer;
    display: block;
    text-align: center;
    margin-bottom: 50px;
    &:nth-child(3) {
      position: relative;
      left: 3px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}