.app-nav {
  background-color: $color-secondary;
  padding: 35px 0;
  text-align: center;
  > div {
    @include mq('tablet') {
      position: fixed;
      width: 90px;
    }
  }
  &__link {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin-right: 40px;
    position: relative;
    @include mq('tablet') {
      display: block;
      margin-right: 0;
      margin-bottom: 50px;
    }
    &:nth-child(3) {
      position: relative;
      left: 3px;
      &::before {
        left: -10px;
        @include mq('tablet') {
          left: -16px;
        }
      }
    }
    &:last-child {
      margin-right: 0;
      @include mq('tablet') {
        margin-bottom: 0;
      }
    }
    &::before {
      transition: opacity .5s;
      content: '';
      position: absolute;
      top: -16px;
      left: -5px;
      opacity: 0;
      @include element($disp: block, $width: 40px, $height: 60px) {
        border: 3px solid transparent;
      }
      @include mq('tablet') {
        left: -13px;
        width: 10px;
      }
    }
    &--selected::before {
      border-bottom-color: $color-nav-link-selected;
      @include mq('tablet') {
        border-radius: $border-round;
        border-right-color: $color-nav-link-selected;
      }
      opacity: 1;
    }
  }
}