.bold {
  font-weight: 700;
}

.header__headline {
  font-size: 1.3em;
  font-weight: 600;
}

.sub-headline {
  font-size: 1em;
  text-transform: uppercase;
}

.traffic__link {
  font-weight: 700;
  font-size: 13px;
}