#trafficChart {
  width: 1052px;
  height: 276px;
  background: orange;
  display: block;
  margin: 10px auto 0;
}

#dailyTrafficChart,
#devicesChart {
  width: 483px;
  height: 265px;
  background: orange;
  display: block;
  margin: auto;
}